<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".tt" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
        <staticContent>
            <mimeMap fileExtension=".dus" mimeType="application/displayus-plugin" />
        </staticContent>
    </system.webServer>
</configuration>
